<div class="page-header">
  <div class="welcome-text">Welcome to <img class="welcome-logo" src="../assets/images/simple-logo-white.svg"></div>
  <div class="accounts">2 Active accounts</div>
  <div class="card-container">
    <div class="cards">
      <mat-card class="balance">
        <div class="payment-option">
          <img src="../assets/images/simple-logo-green.svg">
          <img src="../assets/images/bill due.svg">
        </div>
        <div class="payment-details">
          <div class="labels">
            <span>spent till now</span>
            <span>due date</span>
          </div>
          <div class="data">
            <span class="amount">₹1800</span>
            <span>15 Aug</span>
          </div>
        </div>
        <button mat-stroked-button color="primary">
          <img src="../assets/icons/lock.svg">
          PAY ₹1500
        </button>
      </mat-card>

      <mat-card class="balance">
        <div class="payment-option">
          <img src="../assets/images/pay later.svg">
        </div>
        <div class="payment-details">
          <div class="labels">
            <span>spent this month</span>
          </div>
          <div class="data">
            <span class="amount">₹1150</span>
            <span class="faq">
              <img class="help" src="../assets/icons/info.svg">
              <span class="primary-link">FAQs</span>
            </span>
          </div>
        </div>
        <div class="payment-due">
          <img src="../assets/icons/info.svg">
          <span>Clear last month’s dues with ICICI bank on/before 15th to avoid late payment fees.
            <span class="primary-link"> Manage account</span>
          </span>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="recharges-bills">
  <div class="section-label">Recharges & pay bills</div>
  <div class="recharge-bill-container">
    <img src="../assets/icons/recharges & bills/prepaid.svg">
    <img src="../assets/icons/recharges & bills/electricity.svg">
    <img src="../assets/icons/recharges & bills/broadband.svg">
    <img src="../assets/icons/recharges & bills/dth.svg">
    <img src="../assets/icons/recharges & bills/gas.svg">
    <img src="../assets/icons/recharges & bills/landline.svg">
    <img src="../assets/icons/recharges & bills/water.svg">
    <img src="../assets/icons/recharges & bills/data card.svg">
  </div>
</div>

<div class="compatible-apps">
  <div class="section-label">You can also use Simpl on</div>
  <div class="apps">
    <img src="../assets/icons/compatible apps/big basket.svg">
    <img src="../assets/icons/compatible apps/dunzo.svg">
    <img src="../assets/icons/compatible apps/grofers.svg">
    <img src="../assets/icons/compatible apps/zomato.svg">
  </div>
</div>

<div class="recent-transactions">
  <div class="section-label">Recent transactions</div>
  <div class="transaction-records">
    <div class="transaction">
      <img src="../assets/icons/transactions/zomato.svg">
      <div class="transaction-details">
        <div class="biller">Zomato</div>
        <div class="timestamp">May 24<span class="text-grey">, 06:12 PM I Simpl Pay Later</span></div>
        <div class="comments"></div>
      </div>
      <div class="amount">
        ₹250
      </div>
    </div>
    <div class="transaction">
      <img src="../assets/icons/transactions/bescom.svg">
      <div class="transaction-details">
        <div class="biller">Bescom <img class="autopay" src="../assets/icons/transactions/autopay.svg"></div>
        <div class="timestamp">May 24<span class="text-grey">, 06:10 PM</span></div>
        <div class="comments"><span class="text-grey">Home - 0090887667</span></div>
      </div>
      <div class="amount">
        <div>₹250</div>
        <img class="processing" src="../assets/icons/transactions/processing.svg">
      </div>
    </div>
    <div class="transaction">
      <img src="../assets/icons/transactions/big basket.svg">
      <div class="transaction-details">
        <div class="biller">Big basket</div>
        <div class="timestamp">May 24<span class="text-grey">, 06:10 PM</span></div>
        <div class="comments"><span class="cashback">₹100 Cashback!</span> Will be credited after repayment</div>
      </div>
      <div class="amount">
        ₹300
      </div>
    </div>
  </div>
</div>

<div class="menu-bar">
  <div class="menu-options">
    <div class="option">
      <img src="../assets/icons/menu options/home.svg">
      <span class="menu-label">Home</span>
    </div>
    <div class="option">
      <img src="../assets/icons/menu options/passbook.svg">
      <span class="menu-label">Passbook</span>
    </div>
    <div class="option">
      <img src="../assets/icons/menu options/billbox.svg">
      <span class="menu-label">Billbox</span>
    </div>
    <div class="option">
      <img src="../assets/icons/menu options/profile.svg">
      <span class="menu-label">Profile</span>
    </div>
    <div class="option">
      <img src="../assets/icons/menu options/more.svg">
      <span class="menu-label">More</span>
    </div>
  </div>
</div>